<!DOCTYPE html>
<html>
<head>
     <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="/images/home.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/home.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/home.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/home.png">
    <link rel="mask-icon" href="/images/home.svg" color="#5bbad5">
    <title>TaMi Power View</title>
    <link rel="stylesheet" href="/css/pv.css" media="all" />
</head>
<body>
@RenderBody()
</body>
</html>